.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(51, 51, 51);
  color: white;
}

.lista {
  flex-direction: column;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.subLista {
  display: grid;
  list-style: none;
  flex-direction: column;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.litOpen {
  display: none;
}

.list li {
  margin: 10px 0;
  margin: 0;
  font-size: 1.5rem;
  /* Tamanho maior */
}
.imagem {
  border-radius: 50px;
}

.nav {
  display: none;
}
.nav.open {
  display: block;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin: 10px 0;
}

.nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2em;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
  transition: 0.4s;
}

@media (min-width: 601px) {
  .nav {
    display: flex;
  }

  .nav ul {
    display: flex;
  }

  .nav ul li {
    margin: 0 10px;
  }

  .menuIcon {
    display: none;
  }
}

/*
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(51, 51, 51);
  }

  



 */
